/* ==UserStyle==
@name Fmind AutoAO3App
@namespace github.com/fmind/theme
@version 3.0.2
==/UserStyle== */
body {
  background-color: #ffffff !important;
  color: #202124 !important;
}
a {
  color: #174ea6 !important;
}
