/* Fmind theme for WhatsApp Web */
:root {
  --app-background: #ffffff;
  --panel-background-default: #f1f3f4;
  --primary-strong: #202124;
  --primary: #595d62;
  --teal: #174ea6;
  --border-strong: #9aa0a6;
}
