// https://flight-manual.atom-editor.cc/hacking-atom/sections/creating-a-theme/
@background: #ffffff;
@foreground: #202124;
@selection: #d2e3fc;
@comment: #595d62;
@red: #a50e0e;
@orange: #934900;
@yellow: #0d652d;
@green: #174ea6;
@purple: #681da8;
@cyan: #681da8;
@pink: #174ea6;
@lace: #202124;
@white: #ffffff;
@black: #202124;
@blue: #174ea6;
@very-dark-gray: #ffffff;
@dark-gray: #f1f3f4;
@gray: #595d62;
@light-gray: #595d62;
@very-light-gray: #202124;
