/* Fmind theme for Facebook */
:root {
  --primary-button-background: #174ea6;
  --secondary-button-background: #f1f3f4;
  --primary-text: #202124;
  --secondary-text: #595d62;
  --surface-background: #ffffff;
  --card-background: #f1f3f4;
}
