// https://github.com/pop-os/cosmic-term/blob/master/src/config.rs
(
    name: "Fmind",
    foreground: "#202124",
    background: "#ffffff",
    cursor: "#174ea6",
    bright_foreground: "#202124",
    dim_foreground: "#595d62",
    normal: (
        black: "#202124",
        red: "#a50e0e",
        green: "#0d652d",
        yellow: "#934900",
        blue: "#174ea6",
        magenta: "#681da8",
        cyan: "#00636d",
        white: "#202124",
    ),
    bright: (
        black: "#595d62",
        red: "#a50e0e",
        green: "#0d652d",
        yellow: "#934900",
        blue: "#174ea6",
        magenta: "#681da8",
        cyan: "#00636d",
        white: "#202124",
    ),
    dim: (
        black: "#595d62",
        red: "#a50e0e",
        green: "#0d652d",
        yellow: "#934900",
        blue: "#174ea6",
        magenta: "#681da8",
        cyan: "#00636d",
        white: "#595d62",
    ),
)
