// https://zellij.dev/documentation/themes
//
// Blue tiles on light-grey chrome keep shortcut separators visible.

themes {
    fmind {
        text_unselected {
            base "#202124"
            background "#f1f3f4"
            emphasis_0 "#934900"
            emphasis_1 "#681da8"
            emphasis_2 "#0d652d"
            emphasis_3 "#174ea6"
        }
        text_selected {
            base "#202124"
            background "#fbbc04"
            emphasis_0 "#202124"
            emphasis_1 "#202124"
            emphasis_2 "#202124"
            emphasis_3 "#202124"
        }
        ribbon_unselected {
            base "#202124"
            background "#4285f4"
            emphasis_0 "#202124"
            emphasis_1 "#202124"
            emphasis_2 "#202124"
            emphasis_3 "#202124"
        }
        ribbon_selected {
            base "#202124"
            background "#fbbc04"
            emphasis_0 "#202124"
            emphasis_1 "#202124"
            emphasis_2 "#202124"
            emphasis_3 "#202124"
        }
        frame_unselected {
            base "#595d62"
            emphasis_0 "#934900"
            emphasis_1 "#681da8"
            emphasis_2 "#0d652d"
            emphasis_3 "#174ea6"
        }
        frame_selected {
            base "#174ea6"
            emphasis_0 "#934900"
            emphasis_1 "#681da8"
            emphasis_2 "#0d652d"
            emphasis_3 "#174ea6"
        }
        frame_highlight {
            base "#934900"
            emphasis_0 "#934900"
            emphasis_1 "#681da8"
            emphasis_2 "#0d652d"
            emphasis_3 "#174ea6"
        }
        table_title {
            base "#174ea6"
            background "#f1f3f4"
            emphasis_0 "#934900"
            emphasis_1 "#681da8"
            emphasis_2 "#0d652d"
            emphasis_3 "#174ea6"
        }
        table_cell_unselected {
            base "#202124"
            background "#ffffff"
            emphasis_0 "#934900"
            emphasis_1 "#681da8"
            emphasis_2 "#0d652d"
            emphasis_3 "#174ea6"
        }
        table_cell_selected {
            base "#202124"
            background "#d2e3fc"
            emphasis_0 "#934900"
            emphasis_1 "#681da8"
            emphasis_2 "#0d652d"
            emphasis_3 "#174ea6"
        }
        list_unselected {
            base "#202124"
            background "#ffffff"
            emphasis_0 "#934900"
            emphasis_1 "#681da8"
            emphasis_2 "#0d652d"
            emphasis_3 "#174ea6"
        }
        list_selected {
            base "#202124"
            background "#d2e3fc"
            emphasis_0 "#934900"
            emphasis_1 "#681da8"
            emphasis_2 "#0d652d"
            emphasis_3 "#174ea6"
        }
        exit_code_success {
            base "#0d652d"
            emphasis_0 "#934900"
            emphasis_1 "#681da8"
            emphasis_2 "#0d652d"
            emphasis_3 "#174ea6"
        }
        exit_code_error {
            base "#a50e0e"
            emphasis_0 "#934900"
            emphasis_1 "#681da8"
            emphasis_2 "#0d652d"
            emphasis_3 "#174ea6"
        }
        multiplayer_user_colors {
            player_1 "#174ea6"
            player_2 "#0d652d"
            player_3 "#681da8"
            player_4 "#934900"
            player_5 "#00636d"
            player_6 "#a50e0e"
            player_7 "#595d62"
            player_8 "#202124"
            player_9 "#174ea6"
            player_10 "#0d652d"
        }
    }
}
