/* https://docs.obsidian.md/Reference/CSS+variables/CSS+variables */
.theme-light {
    --font-interface-theme: "Google Sans", sans-serif;
    --font-text-theme: "Google Sans", sans-serif;
    --font-monospace-theme: "Google Sans Code", monospace;
    --background-primary: #ffffff;
    --background-primary-alt: #f1f3f4;
    --background-secondary: #f1f3f4;
    --background-secondary-alt: #f1f3f4;
    --background-modifier-hover: #d2e3fc;
    --background-modifier-active-hover: #d2e3fc;
    --background-modifier-border: #9aa0a6;
    --background-modifier-border-hover: #595d62;
    --background-modifier-border-focus: #174ea6;
    --background-modifier-form-field: #ffffff;
    --background-modifier-error: #fad2cf;
    --background-modifier-error-hover: #fad2cf;
    --background-modifier-success: #ceead6;
    --background-modifier-message: #174ea6;
    --text-normal: #202124;
    --text-muted: #595d62;
    --text-faint: #595d62;
    --text-on-accent: #ffffff;
    --text-on-accent-inverted: #202124;
    --text-success: #0d652d;
    --text-warning: #934900;
    --text-error: #a50e0e;
    --text-accent: #174ea6;
    --text-accent-hover: #174ea6;
    --text-selection: #d2e3fc;
    --text-highlight-bg: #feefc3;
    --interactive-normal: #f1f3f4;
    --interactive-hover: #d2e3fc;
    --interactive-accent: #174ea6;
    --interactive-accent-hover: #174ea6;
    --color-accent: #174ea6;
    --color-accent-1: #174ea6;
    --color-accent-2: #174ea6;
    --color-red: #a50e0e;
    --color-orange: #934900;
    --color-yellow: #934900;
    --color-green: #0d652d;
    --color-cyan: #00636d;
    --color-blue: #174ea6;
    --color-purple: #681da8;
    --color-pink: #681da8;
    --caret-color: #4285f4;
    --code-background: #f1f3f4;
    --code-normal: #202124;
    --code-comment: #595d62;
    --code-function: #174ea6;
    --code-keyword: #174ea6;
    --code-operator: #202124;
    --code-property: #202124;
    --code-punctuation: #202124;
    --code-string: #0d652d;
    --code-tag: #174ea6;
    --code-value: #934900;
    --h1-color: #174ea6;
    --h2-color: #0d652d;
    --h3-color: #681da8;
    --h4-color: #934900;
    --h5-color: #174ea6;
    --h6-color: #595d62;
    --bold-color: #202124;
    --italic-color: #681da8;
    --link-color: #174ea6;
    --link-color-hover: #174ea6;
    --link-external-color: #174ea6;
    --link-external-color-hover: #174ea6;
    --tag-color: #174ea6;
    --tag-background: #d2e3fc;
    --tag-color-hover: #174ea6;
    --tag-background-hover: #d2e3fc;
}
.theme-light em,
.theme-light .cm-em {
    font-style: normal;
}
