# https://docs.python.org/3/library/idle.html#setting-preferences
[Fmind]
normal-foreground = #202124
normal-background = #ffffff
keyword-foreground = #174ea6
keyword-background = #ffffff
builtin-foreground = #681da8
builtin-background = #ffffff
comment-foreground = #595d62
comment-background = #ffffff
string-foreground = #0d652d
string-background = #ffffff
definition-foreground = #174ea6
definition-background = #ffffff
hilite-foreground = #202124
hilite-background = #d2e3fc
break-foreground = #202124
break-background = #feefc3
hit-foreground = #202124
hit-background = #fbbc04
error-foreground = #a50e0e
error-background = #fad2cf
context-foreground = #202124
context-background = #ffffff
linenumber-foreground = #595d62
linenumber-background = #ffffff
stdout-foreground = #202124
stdout-background = #ffffff
stderr-foreground = #a50e0e
stderr-background = #ffffff
console-foreground = #174ea6
console-background = #ffffff
cursor-foreground = #174ea6
