:root {
  --btcpay-body-bg: #ffffff;
  --btcpay-body-color: #202124;
  --btcpay-primary: #174ea6;
  --btcpay-secondary: #f1f3f4;
  --btcpay-success: #0d652d;
  --btcpay-danger: #a50e0e;
  --btcpay-warning: #934900;
}
