// Mailspring Fmind Light Theme Variables

@bg-base: #ffffff;
@text-color: #202124;
@text-color-subtle: #595d62;
@accent-primary: #174ea6;
@border-color-primary: #f1f3f4;
@panel-background-color: #f1f3f4;
@component-active-bg: #d2e3fc;
@component-active-color: #202124;
