* {
    border: none;
    color: #202124;
    background-color: #ffffff;
}

#frame {
    padding: 6px;
    border-radius: 8px;
    background-color: #ffffff;
    border: 1px solid #f1f3f4;
}

#inputLine {
    padding: 4px;
    font-size: 20px;
    selection-color: #202124;
    selection-background-color: #d2e3fc;
}

#settingsButton {
    color: #595d62;
    background-color: #f1f3f4;
}

QListView QScrollBar:vertical {
    width: 4px;
    background: #f1f3f4;
}

QListView::item:selected {
    background: #d2e3fc;
    color: #202124;
}
