:root {
  --tridactyl-bg: #ffffff;
  --tridactyl-fg: #202124;
  --tridactyl-url-fg: #174ea6;
  --tridactyl-highlight-box-bg: #d2e3fc;
  --tridactyl-cmdl-bg: #ffffff;
  --tridactyl-cmdl-fg: #202124;
  --tridactyl-border: 1px solid #9aa0a6;
}
